.homeBackgroundImage,
.loginBackgroundImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.homeBackgroundImage {
  background-image: url('wyncodeBase.png');
}

.loginBackgroundImage {
  background-image: url('wyncodeBackground.png');
}

.search-background-img {
  background-image: url('octocat.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 95%;
  height: 900px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.main-container {
  display: flex;
  align-items: center;
}

.form-container {
  border: rgb(189, 185, 185) solid 1px;
  border-radius: 10%;
  padding-top: 20px;
}

.loggedin-nav-title {
  width: 100%;
  text-align: center;
}

.search-nav {
  width: 250px;
  right: 0;
  position: absolute;
  padding: 20px;
}
.dropdown-nav {
  right: 0;
  position: absolute;
  margin-right: 15px;
}

.search-container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 40%;
  height: 700px;
  margin: auto;
  border: rgb(189, 185, 185) solid 1px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.835);
  margin-top: 100px;
}

.search-bar,
.search-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300;
  margin: auto;
}

.home-container {
  width: 80%;
  height: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.profile-container {
  width: 80%;
  height: 100vh;
  border: rgba(117, 117, 117, 0.609) solid 1px;
  background-color: white;
}

.cover-photo-img {
  width: 100%;
  border: purple solid 1px;
  background-image: url('octocat.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-avatar {
  background-image: url('default-user-icon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border: rgba(100, 100, 102, 0.657) solid 1px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 50px;
}
.profile-saved-users {
  border: rgba(117, 117, 117, 0.609) solid 1px;
  height: 100vh;
  width: 100vw;
}
