.homeBackgroundImage,
.loginBackgroundImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.homeBackgroundImage {
  background-image: url('wyncodeBase.png');
}

.loginBackgroundImage {
  background-image: url('wyncodeBackground.png');
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.main-container {
  /* margin-top: 200px; */
  display: flex;
  align-items: center;
}

.form-container {
  border: rgb(189, 185, 185) solid 1px;
  border-radius: 10%;
  padding-top: 20px;
}
