.homeBackgroundImage,
.loginBackgroundImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.homeBackgroundImage {
  background-image: url('wyncodeBase.png');
}

.loginBackgroundImage {
  background-image: url('wyncodeBackground.png');
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.main-container {
  display: flex;
  align-items: center;
}

.form-container {
  border: rgb(189, 185, 185) solid 1px;
  border-radius: 10%;
  padding-top: 20px;
}

.loggedin-nav-title {
  width: 100%;
  text-align: center;
}

.search-nav {
  width: 250px;
  right: 0;
  position: absolute;
  padding: 20px;
}
.dropdown-nav {
  right: 0;
  position: absolute;
  margin-right: 15px;
}
